section.article-header
    .header-wrapper
        .article-header-left-block
            .cabinet-header-logo
                a(href='/')
                    .logo-circle
                        img(src='../img/logo.svg')
                    span.logo-text iq advisor
            .article-header-nav
                ul.menu-list
                    li
                        a#open-leader-board(href='leader-board.html') LeaderBoard
                    li
                        a#open-cabinet.active(href='personal-data.html') Cabinet
                    li
                        a#open-tutorial(href='tutorial.html') Tutorial
        .article-header-btn-block
            button.article-header-btn Go to IQ Option
    .inner-menu
        .inner-header-wrapper
            ul#about-us.inner-menu-cabinet
                li
                    a.active(href='smart-trade.html') Smart Trade
                li
                    a(href='deposit.html') Deposit
                li
                    a(href='withdraw-funds.html') Withdraw Funds
                li
                    a(href='personal-data.html') Personal Data