doctype html
html
    head
        include includes/head.pug
        style.
            .inner-menu-cabinet {
                display: flex!important;
            }
        style.
            .active {
                color: #fb7a08!important;
            }
    body
        .cabinet-wrap
            include includes/top-nav.pug
            include includes/footer-litle.pug