doctype html
html
    head
        include includes/head.pug
    body
        .cabinet-wrap
            section.article-header
                .header-wrapper
                    .article-header-left-block
                        .cabinet-header-logo
                            a(href='/')
                                .logo-circle
                                    img(src='../img/logo.svg')
                                span.logo-text iq advisor
                        .article-header-nav
                    .article-header-btn-block
                        button.article-header-btn
                            a(href='login.pug') Log In
            section.register
                .wrap
                    .title
                        h2
                            span.orange START A SUCCESSFUL TRADER
                        h2
                            | CAREER 
                            span.orange RIGHT NOW
                        p Forgot your password?
                        p
                            | Enter your email address to reset your password. You may need to check your spam folder.
                    .reg-form
                        form
                            .reg-form-wrap
                                input.email(type='email', placeholder='Your E-mail', required='')
                                button.reg-form-bottom-btn.btn.btn__full.btn__full--green(type='button') Submit
            include includes/footer-litle.pug