doctype html
html
    head
        include includes/head.pug
        style.
            .inner-menu-cabinet {
                display: flex !important;
            }
            .active {
                color: #fb7a08 !important;
            }
    body
        .cabinet-wrap
            section.article-header
                .header-wrapper
                    .article-header-left-block
                        .cabinet-header-logo
                            a(href='/')
                                .logo-circle
                                    img(src='../img/logo.svg')
                                span.logo-text iq advisor
                        .article-header-nav
                            // <ul class="menu-list">
                            // <li><a href="pug/leader-board.php" id="open-leader-board">LeaderBoard</a></li>
                            // <li><a href="index.html" id="open-cabinet" class="active">Cabinet</a></li>
                            // <li><a href="pug/tutorial.html" id="open-tutorial">Tutorial</a></li>
                            // </ul>
                    .article-header-btn-block
                        button.article-header-btn Log In
                // <div class="inner-menu">
                // <div class="inner-header-wrapper">
                // <ul class="inner-menu-cabinet" id="about-us">
                // <li><a href="pug/smart-trade.html">Smart Trade</a></li>
                // <li><a href="pug/deposit.php">Deposit</a></li>
                // <li><a href="pug/withdraw-funds.html">Withdraw Funds</a></li>
                // <li><a href="index.html" class="active">Personal Data</a></li>
                // </ul>
                // </div>
                // </div>
            section.register
                .wrap
                    .title
                        h2
                            span.orange START A SUCCESSFUL TRADER
                        h2
                            | CAREER 
                            span.orange RIGHT NOW
                        p Log in:
                    .reg-form
                        form
                            .reg-form-wrap
                                input.email(type='email', placeholder='Your E-mail', required='')
                                input.password(type='password', placeholder='Your Password', required='')
                                .checkbox-div
                                    input.checkbox(type='checkbox')
                                    span Remember me
                                button.reg-form-bottom-btn.btn.btn__full.btn__full--green(type='button') Sign In
                        p
                            a(href='forgotpass.pug') Forgot your password?
            include includes/footer-litle.pug
