doctype html
html
    head
        include includes/head.pug
    body
        .cabinet-wrap
            section.article-header
                .header-wrapper
                    .article-header-left-block
                        .cabinet-header-logo
                            a(href='/')
                                .logo-circle
                                    img(src='../img/logo.svg')
                                span.logo-text iq advisor
                        .article-header-nav
                    .article-header-btn-block
                        button.article-header-btn Log In
            section.register
                .wrap
                    .title
                        h2
                            span.orange START A SUCCESSFUL TRADER
                        h2
                            | CAREER 
                            span.orange RIGHT NOW
                        p Log in:
                    .reg-form
                        form
                            .reg-form-wrap
                                input.email(type='email', placeholder='Your E-mail', required='')
                                input.password(type='password', placeholder='Your Password', required='')
                                .checkbox-div
                                    input.checkbox(type='checkbox')
                                    span Remember me
                                button.reg-form-bottom-btn.btn.btn__full.btn__full--green(type='button') Sign In
                        p
                            a(href='forgotpass.pug') Forgot your password?
            include includes/footer-litle.pug
