doctype html
html
    head
        include includes/head.pug
        style.
            .inner-menu-cabinet {
                display: flex !important;
            }
            .active {
                color: #fb7a08 !important;
            }
    body
        .cabinet-wrap
            section.article-header
                .header-wrapper
                    .article-header-left-block
                        .cabinet-header-logo
                            a(href='/')
                                .logo-circle
                                    img(src='../img/logo.svg')
                                span.logo-text iq advisor
                        .article-header-nav
                            ul.menu-list
                                li
                                    a#open-leader-board(href='leader-board.pug') LeaderBoard
                                li
                                    a#open-cabinet.active(href='personal-data.html') Cabinet
                                li
                                    a#open-tutorial(href='tutorial.pug') Tutorial
                    .article-header-btn-block
                        button.article-header-btn Go to IQ Option
                .inner-menu
                    .inner-header-wrapper
                        ul#about-us.inner-menu-cabinet
                            li
                                a(href='smart-trade.pug') Smart Trade
                            li
                                a(href='deposit.pug') Deposit
                            li
                                a(href='withdraw-funds.pug') Withdraw Funds
                            li
                                a.active(href='personal-data.html') Personal Data
            section.article-page.cabinet.personal-data
                .wrap
                    h2 Personal Data
                    p.name Name Name
                    p.cabinet-num Personal cabinet № 15338042
                    .form-nav
                        #open-your-goal.form-nav-item.form-nav-item-active
                            p
                                | Your Goal
                        #open-contact-information.form-nav-item
                            p
                                | Contact information
                        #open-phone-number.form-nav-item
                            p
                                | Phone number
                        #open-settings.form-nav-item
                            p
                                | Settings
                        #open-socials.form-nav-item
                            p
                                | Socials
                    form#contact-information
                        .form-group
                            .title
                                span First name
                            .input
                                input(type='text')
                        .form-group
                            .title
                                span Last Name
                            .input
                                input(type='text')
                        .form-group
                            .title
                                span Gender
                            .input
                                select
                                    option Male
                                    option Female
                        .form-group
                            .title
                                span Country
                            .input
                                select
                                    option Ukraine
                                    option USA
                        .form-group
                            .title
                                span Birth Date
                            .input
                                select
                                    option 1
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                                    option 6
                                    option 7
                                    option 8
                                    option 9
                                    option 10
                                    option 11
                                    option 12
                                    option 13
                                    option 14
                                    option 15
                                    option 16
                                    option 17
                                    option 18
                                    option 19
                                    option 20
                                    option 21
                                    option 22
                                    option 23
                                    option 24
                                    option 25
                                    option 26
                                    option 27
                                    option 28
                                    option 29
                                    option 30
                                    option 31
                                select
                                    option January
                                    option February
                                    option March
                                    option April
                                    option May
                                    option June
                                    option July
                                    option August
                                    option September
                                    option October
                                    option November
                                    option December
                                select
                                    option 1999
                                    option 1998
                                    option 1997
                                    option 1996
                                    option 1995
                                    option 1994
                                    option 1993
                                    option 1992
                                    option 1991
                                    option 1990
                                    option 1989
                                    option 1988
                                    option 1987
                                    option 1986
                                    option 1985
                                    option 1984
                                    option 1983
                                    option 1982
                                    option 1981
                                    option 1980
                        // <div class="form-group">
                        // <div class="title">
                        // <span>City</span>
                        // </div>
                        // <div class="input">
                        // <input type="text">
                        // </div>
                        // </div>
                        // <div class="form-group">
                        // <div class="title">
                        // <span>Zip</span>
                        // </div>
                        // <div class="input">
                        // <input type="text">
                        // </div>
                        // </div>
                        // <div class="form-group">
                        // <div class="title">
                        // <span>Address</span>
                        // </div>
                        // <div class="input">
                        // <input type="text">
                        // </div>
                        // </div>
                        .form-group
                            button.green-button(type='submit') Save
                    form#phone-number
                        .form-group
                            .title
                                span Please enter your phone number
                            .input
                                .phone-country-code-wrapper
                                    input(type='number')
                                    span country code
                                .phone-number-wrapper
                                    input(type='number')
                                    span number without country code
                        .form-group
                            button.green-button(type='submit') Save
                    form#e-mail-address
                        .form-group
                            .title
                                span Current e-mail
                            .input
                                span some@gmail.com
                        .form-group
                            .title
                                span New e-mail
                            .input
                                input(type='text')
                        .form-group
                            button.green-button(type='submit') Save
                    form#change-password
                        .form-group
                            .title
                                span Current password
                            .input
                                input(type='text')
                        .form-group
                            .title
                                span New password
                            .input
                                input(type='text')
                        .form-group
                            .title
                                span Repeat password
                            .input
                                input(type='text')
                        .form-group
                            button.green-button(type='submit') Save
                    form#settings
                        .form-group
                            .title
                                span Currency
                            .input
                                select
                                    option USD
                        .form-group
                            .title
                                span Timezone
                            .input
                                select
                                    option UTC +1:00
                        .form-group
                            .title
                                span Default language
                            .input
                                select
                                    option En
                        .form-group
                            button.green-button(type='submit') Save
                    form#e-mail-settings
                        .form-group
                            p
                                | Please choose the e-mail subscription that you want to receive:
                        .form-group
                            .title
                                span
                            .input
                                input(type='checkbox')
                                span Promotions
                        .form-group
                            .title
                                span
                            .input
                                input(type='checkbox')
                                span System news
                        .form-group
                            .title
                                span
                            .input
                                input(type='checkbox')
                                span Analytical reports
                        .form-group
                            button.red-button(type='submit') Reset all settings
                    form#socials
                        .form-group
                            p
                                | You can use your social media accounts in order to log in to the website and share your success
                                | with your friends
                        .form-group
                            .title
                                span Facebook
                            .input
                                button.yellow-button(type='submit') Add
                    #your-goal
                        p.goal-test-header
                            | You must have a goal. Set your goal
                        .goal-row
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/alotofcash.jpeg', alt='')
                                span.goal-cost $44,520
                                span.goal-description A lot of cash
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/newcar.jpeg', alt='')
                                span.goal-cost $201,225
                                span.goal-description New Car Bentley Continental GT
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/newferrari.jpeg', alt='')
                                span.goal-cost $249,150
                                span.goal-description New Ferrari 488GTB
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                        .goal-row
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/worldcruise.jpeg', alt='')
                                span.goal-cost $193,098 per person
                                span.goal-description World Cruise on the Queen Elisabeth
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/ownhouseinalps.jpeg', alt='')
                                span.goal-cost $827,178
                                span.goal-description The House in the Alps, Switzerland
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/apartmentsinny.png', alt='')
                                span.goal-cost $975,000
                                span.goal-description Apartments in New York
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                        .goal-row
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/millionaire.jpeg', alt='')
                                span.goal-cost $1,000,000
                                span.goal-description Become a Millionaire
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/islandindubai.jpeg', alt='')
                                span.goal-cost $1,250,000
                                span.goal-description "Own Island in Dubai, UAE"
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/lamborghinireventon.jpeg', alt='')
                                span.goal-cost $1,499,900
                                span.goal-description Lamborghini Reventon
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                        .goal-row
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/villainspain.jpeg', alt='')
                                span.goal-cost $1,546,875
                                span.goal-description A Villa in Spain
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/ownisland.jpeg', alt='')
                                span.goal-cost $4,800,000
                                span.goal-description Own Island in Caribbean Sea
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/Greek%20Island%20Zante.jpeg', alt='')
                                span.goal-cost $6,934,265
                                span.goal-description Greek Island Kardiotissa
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                        .goal-row
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/wineryinfrance.jpeg', alt='')
                                span.goal-cost $10,081,354
                                span.goal-description Winery In South of France
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/privateyacht.jpeg', alt='')
                                span.goal-cost $13,311,000
                                span.goal-description Private Yacht
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
                            .goal-item
                                .goal-item-image-wrapper
                                    img(src='../img/goals/londonapartments.jpeg', alt='')
                                span.goal-cost $36,237,505
                                span.goal-description An apartment in London
                                button.goal-button(type='button')
                                    a(href='deposit.pug') CHOOSE
            include includes/footer-litle.pug
