doctype html
html
    head
        include includes/head.pug
        style.
            .inner-menu-cabinet {
                display: flex !important;
            }
            .active {
                color: #fb7a08 !important;
            }
    body
        .cabinet-wrap
            section.article-header
                .header-wrapper
                    .article-header-left-block
                        .cabinet-header-logo
                            a(href='/')
                                .logo-circle
                                    img(src='../img/logo.svg')
                                span.logo-text iq advisor
                        .article-header-nav
                            ul.menu-list
                                li
                                    a#open-leader-board(href='leader-board.pug') LeaderBoard
                                li
                                    a#open-cabinet.active(href='personal-data.pug') Cabinet
                                li
                                    a#open-tutorial(href='tutorial.pug') Tutorial
                    .article-header-btn-block
                        button.article-header-btn Go to IQ Option
                .inner-menu
                    .inner-header-wrapper
                        // <ul class="inner-menu-cabinet" id="about-us">
                        // <li><a href="smart-trade.php">Smart Trade</a></li>
                        // <li><a href="deposit.php">Deposit</a></li>
                        // <li><a href="withdraw-funds.html">Withdraw Funds</a></li>
                        // <li><a href="personal-data.php" class="active">Personal Data</a></li>
                        // </ul>
            section.article-page.cabinet.terms-and-conditions
                .wrap
                    h2 Legal Terms and Conditions
                    p
                        | YOU SHOULD READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE COMPLETING REGISTRATION (AND IF APPLICABLE
                        | INSTALLATION OF THE COMPANY'S PROPRIETARY SOFTWARE). BY CLICKING 'ACCEPT' OR 'I AGREE' OR 'CONTINUE' AS
                        | THE CASE MAY BE, AND THEREFORE REGISTERING AND/OR USING THE COMPANY'S SERVICES, YOU CONFIRM AND
                        | ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS, THAT YOU UNDERSTAND ITS CONTENT, AND THAT YOU AGREE TO BE
                        | BOUND BY ALL OF ITS TERMS AND CONDITIONS. IF YOU DO NOT AGREE TO ANY OR ALL OF THE TERMS AND CONDITIONS
                        | SET FORTH HEREIN, DO NOT ACCESS NOR USE THIS WEBSITE/PLATFORM.
                    h3 1. DEFINITIONS
                    p
                        | The following terms used in these Terms and Conditions shall have the meaning ascribed next to them,
                        | unless stated otherwise herein below:
                    ul
                        li
                            | "Company": stands for Neuchatel Limited being the company responsible for the SHP technology.
                        li
                            | "Minor": stands for a person under the age of eighteen (18) or otherwise under legal age or who
                            | cannot execute legally binding contracts under laws of his/her country of residence.
                        li
                            | "Services": stands for the services offered via the SHP, namely, but not limited, to the provision
                            | of backtested high quality trade signals per day, the IQ Advisor Hybrid and the community chat room.
                        li
                            | "SHP": stands for the "IQ Advisor Signals Platform" being a unique binary options and FX signals community
                            | and market-place platform.
                        li
                            | "IQ Advisor Signals Hybrid": stands for the semi-automatic or fully-automatic trading module inside the "IQ Advisor Signals
                            | Platform" which allows You to select the manual or automatic replication of a market
                            | recommendation on your broker's platform.
                        li "You": means the registered member with SHP.
                    h3 2. MEMBERSHIP ELIGIBILITY
                    p
                        | The Services are available and may be used only by individuals or companies who can form legally binding
                        | contracts under the applicable laws in their country of residence. The Services are not available to
                        | Minors. If you are a Minor, you may not use this service. For the avoidance of doubt, the Company shall
                        | not be responsible for any unauthorized use of its Services by Minors in any way or manner. Furthermore,
                        | the Services are available only to, and may only be used by individuals who have sufficient experience
                        | and knowledge in binary options and FX markets to be capable of evaluating the merits and risks of such
                        | transactions and have done so without relying on any information contained in this site. For the
                        | avoidance of any doubt, the Company is under no obligation to verify and/or check whether you possess or
                        | not such sufficient knowledge and/or experience, nor shall it be responsible for any damage and/or loss
                        | incurred by you as a result of insufficient knowledge and/or experience. Company strongly emphasizes
                        | that you must ensure that all information required by you was checked and confirmed by yourself, through
                        | independent information sources to your satisfaction prior to the execution of any action by yourself on
                        | the web site.
                    h3 3. REGISTRATION
                    p 3.1. There are two ways to register for the Services:
                    p
                        | (1) You may register directly via PayPal for just forty nine USD and ninety nine cents ($49.99) per
                        | month(3
                        | signal streams, around 15 trades per day, 65% ITM) and get the first 3 days for free; or
                    p
                        | (2) You may deposit with one of the listed binary option brokers on the IQ Advisor Signals website and get one
                        | (1)
                        | month free of the Services. Company recommends that you do so from the web-links to the brokers on the
                        | IQ Advisor Signals website itself, otherwise you may not receive the one (1) month free trial.
                    p
                        | 3.2. Upon registration, the Company shall set up an account in your name and ownership in the system. The
                        | account and other relevant details shall be in accordance with the information provided by you, as shall
                        | be
                        | required by the Company from time to time. You must ensure that the information provided by yourself is
                        | complete, true and accurate. It is hereby clarified that the provision of misleading information may be
                        | regarded as an offence and shall entail immediate cessation of activities in your account or its
                        | immediate
                        | closure.
                    p
                        | 3.3. The Company reserves the right to suspend the operation of theIQ Advisor Signals site or sections thereof
                        | when
                        | the Company has reason to suspect that the system was abused by you or that you have used some means in
                        | order to affect or manipulate the system. In such case, the Company may at its sole discretion take any
                        | measures it deems fit and appropriate against you for any losses incurred.
                    h3 4. BROKERAGE ACCOUNT SERVICES
                    p
                        | Company has the required skills and know-how to provide the Services.In no event shall the Company or
                        | anyone
                        | on its behalf shall act, or be deemed to act, as agent/trustee/broker for you. Company DOES NOT and WILL
                        | NOT
                        | maintain one or more brokerage accounts in your name and DOES NOT provide any kind of execution of
                        | brokerage
                        | services for transactions in the international over-the-counter foreign exchange markets. Company DOES
                        | NOT
                        | execute any kind of order on your behalf (except the ones that You select inside IQ Advisor Signals Hybrid).
                    h3 5. NATUREOF BINARY OPTIONS and FX TRADING
                    p
                        | Trading in binary options and FX is highly speculative and is suitable only for those of you who:
                    p
                        | (a) understand and are willing to assume the economic, legal and other risks involved;
                    p (b) are financially able to assume the loss of their total investment;
                    p
                        | (c) understand and are knowledgeable about binary options and FX trading and the underlying assets. You
                        | should engage in binary options and FX trading only if you are prepared to accept a high degree of risk
                        | as
                        | well as be prepared to sustain the total loss of all amounts you may have deposited with your brokerage
                        | firm.
                    h3 6. RISK DISCLOSURE STATEMENTS
                    p
                        | (i). Recommendations Are Not Guaranteed: The generic market recommendations provided by SHP are based
                        | solely
                        | on the judgment of the SHP's senior traders and should be considered as such. You acknowledge that you
                        | enter
                        | into any transactions relying on your own judgment. Any market recommendations provided are generic only
                        | and
                        | may or may not be consistent with the market positions or intentions of SHP and/or its affiliates. The
                        | generic market recommendations of SHP are based upon information believed to be reliable, but SHP cannot
                        | and
                        | does not guarantee the accuracy or completeness thereof or represent that following such generic
                        | recommendations will reduce or eliminate the risk inherent in trading in binary options.
                    p
                        | (ii) No Guarantees Of Profit: There are no guarantees of profit nor of avoiding losses when trading in
                        | binary options. You have received no such guarantees from Company or from any of its representatives.
                        | You
                        | aware of the risks inherent in trading in binary options and you are financially able to bear such risks
                        | and
                        | withstand any losses incurred.
                    p
                        | (iii) Investment Advice Disclaimer: The fact that SHP has made available to You signals constitutes
                        | neither
                        | a recommendation that you enter into a particular transaction nor a representation or investment advice
                        | of
                        | any sort that trading in binary options is suitable or appropriate for You. These signals are intended
                        | to
                        | merely assist registered members and are generated either by individuals (simply posting signals on
                        | their
                        | own accounts) or mechanically based on certain mathematical conditions being met in the market. Under no
                        | circumstances should these signals be considered as investment advice or invitation to follow them. You
                        | should consult with your own investment, accounting, legal and tax advisers to evaluate independently
                        | these
                        | signals and decide whether to follow or not either manually or automatically.
                    p
                        | (iv) Exclusion of Liability: You also understand that the Services offered are a result of working
                        | products
                        | and technical glitches, system errors, algorithmic malfunctions and replication errors either on
                        | Company’s
                        | side or any third-party provider that the Company uses for replication, can still appear at random
                        | times,
                        | and as a result You may face significant financial losses or entire account wipeout. You understand that
                        | these are the technical risks associated with automatic trading in binary options and cogniscent of
                        | this,
                        | You still wish to continue to receive the Services. In view of the above, You agree to hold Company
                        | harmless
                        | from any legal and financial liability that may arise.
                    h3 7. INTELLECTUAL PROPERTY
                    p
                        | 7.1. The SHP belongs to the Company. The content of SHP may include names, terms and/or data which may or
                        | may not be identified with a symbol identifying it as a name, term or item in which copyright is claimed
                        | or
                        | a registered trademark is held. The lack of any such symbol,all copyright, database rights, algorithms,
                        | trademarks and other intellectual property rights in the content of should not, under any circumstances,
                        | be
                        | understood as meaning that the name, term or data is not the intellectual property of the Company.
                    p
                        | 7.2. Any third party intellectual property used by the Company in the content of SHP site should not be
                        | interpreted as meaning that the third party owner sponsors, endorses or is in any way affiliated with
                        | the
                        | Company or with its business.
                    p
                        | 7.3. Except where necessary in order to view the information on this website on your browser, or as
                        | permitted under UK law or these Terms and Conditions, no information or content on this website may be
                        | reproduced, adapted, uploaded to a third party, linked to, framed, performed in public, distributed or
                        | transmitted in any form by any process without Company's specific written consent.
                    p
                        | 7.4. In addition to the above, you agree not to "deep-link" to the website, resell or permit access to
                        | the
                        | website to others and not to copy any materials appearing on the website for resale or for any other
                        | purpose
                        | to others without the prior written consent of the Company. For the avoidance of doubt, you shall be
                        | responsible and be bound by any unauthorized use of the site by you, made in breach of this section.
                    p
                        | 7.5. You agree not to use any electronic communication feature of a service on the site for any purpose
                        | that
                        | is unlawful, tortuous, abusive, and intrusive on another's privacy, harassing, libelous, defamatory,
                        | embarrassing, obscene, threatening or hateful.
                    p
                        | 7.6. You agree that the Company, at its sole discretion and with or without notice, may terminate your
                        | access to any or all services, and remove and discard any information or content within a service,
                        | should
                        | you violate any provision of the present Terms and Conditions.
                    p
                        | 7.7. You may not publish, display, disclose, rent, lease, modify, loan, distribute, or create derivative
                        | works based on the SHP technology. You may not reverse engineer, decompile, translate, adapt, or
                        | disassemble
                        | the SHP, nor shall you attempt to create the source code from the object code for the SHP.
                    h3 8. HYPERLINKS
                    p
                        | 8.1. The Company may provide links to other sites that are controlled or offered by third parties. Such
                        | link
                        | to a site(s) is not an endorsement, authorization, sponsorship or affiliation with respect to such site,
                        | its
                        | owners or its providers.
                    p
                        | 8.2. The Company cautions you to make sure you understand the risks involved in using those site(s)
                        | before
                        | retrieving, using, relying upon or purchasing anything via the Internet. Links to these web sites are
                        | provided solely for your convenience, and you agree that under no circumstances will you hold the
                        | Company
                        | liable for any loss or damage caused by use of or reliance on any content, goods or services available
                        | on
                        | other sites.
                    h3 9. DISCLAIMER
                    p
                        | 9.1. When trading binary options and FX, as with any financial asset, there is a possibility that you may
                        | sustain a partial or total loss of your investment funds when trading. As a result, it is advised that
                        | you
                        | should never invest with, or trade upon, money which you cannot afford to lose through this manner of
                        | trading. Company recommends using the Services on virtual money for the first month and if your results
                        | are
                        | good, then to upgrade to real money but never wagering more than $25/trade.
                    p
                        | 9.2. Neither at present, nor in the future shall the Company provide any financial advice to you or any
                        | of
                        | its customers and no information which may be found on the Company's web site may be considered as
                        | financial
                        | advice for any purpose whatsoever. To remove any doubts, information given on the site, the system
                        | and/or
                        | emails or newsletters sent by the Company related to its Services, is not intended to be used as
                        | financial
                        | or investment advice and the Company shall not accept any liability in this respect, nor shall the
                        | Company
                        | accept any responsibility for the accuracy or comprehensiveness of the information provided on this
                        | site. It
                        | is your responsibility to any and all independent inquiries as you deem fit, prior to making any
                        | financial
                        | decision.
                    p
                        | 9.3. Company shall not be liable in any way whatsoever for any claims, suits, contentions, losses,
                        | expenses,
                        | damages etc. incurred by you as a result of your reliance on any information provided by the
                        | Company.
                    p
                        | 9.4. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, COMPANY EXPRESSLY DISCLAIMS ALL WARRANTIES OF
                        | ANY
                        | KIND, EXPRESSED, IMPLIED OR STATUTORY, RELATED TO THE SITE, PLATFORM, CONTENT, AND SERVICES, INCLUDING
                        | AND
                        | WITHOUT LIMITATION THE WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
                        | NON-INFRINGEMENT OF PROPRIETARY RIGHTS, COURSE OF DEALING OR COURSE OF PERFORMANCE. COMPANY DISCLAIMS
                        | ANY
                        | WARRANTIES, EXPRESSED OR IMPLIED REGARDING: (I) THE SECURITY, ACCURACY, RELIABILITY, TIMELINESS AND
                        | PERFORMANCE OF THE SITE, CONTENT, PLATFORM, AND SERVICES; AND (II) THE SITE, PLATFORM AND SERVICES WILL
                        | BE
                        | UNINTERRUPTED, ERROR-FREE OR THAT ANY ERRORS WILL BE CORRECTED; AND (III) REGARDING THE PERFORMANCE OF
                        | OR
                        | ACCURACY, QUALITY, CURRENCY, COMPLETENESS OR USEFULNESS OF ANY INFORMATION PROVIDED BY THE SITE,
                        | PLATFORM
                        | AND SERVICES.
                    h3 10. LIMITATION OF LIABILITY
                    p
                        | IN NO EVENT SHALL THE COMPANY, ITS OFFICERS, DIRECTORS OR EMPLOYEES BE LIABLE TO YOU OR ANY THIRD PARTY
                        | FOR
                        | ANY INCIDENTAL OR CONSEQUENTIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, INDIRECT, SPECIAL, PUNITIVE, OR
                        | EXEMPLARY DAMAGES FOR LOSS OF BUSINESS, LOSS OF PROFITS, BUSINESS INTERRUPTION, OR LOSS OF BUSINESS
                        | INFORMATION) ARISING OUT OF THE USE OF OR INABILITY TO USE THE IQ Advisor Signals PLATFORM, OR FOR ANY CLAIM BY
                        | ANY
                        | OTHER PARTY, EVEN IF THE COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE COMPANY'S
                        | AGGREGATE LIABILITY WITH RESPECT TO ITS OBLIGATIONS UNDER THESETERMS SHALL NOT EXCEED THE AMOUNT OF THE
                        | FEES
                        | PAID BY YOU FOR THE USE OF THE IQ Advisor Signals PLATFORM.
                    h3 11. CONFIDENTIALITY
                    p
                        | You acknowledge that the SHP contains proprietary trade secrets of the Company and you hereby agree to
                        | maintain the confidentiality of the SHP technology using at least as great a degree of care as you use
                        | to
                        | maintain the confidentiality of your own most confidential information. You agree to reasonably
                        | communicate
                        | theseTerms and Conditions to those persons employed by you who come into contact with the SHP
                        | technology,
                        | and to use best efforts to ensure their compliance with such terms and conditions.
                    h3 12. APPLICABLE LAW & JURISDICTION
                    p
                        | These Terms and Conditions shall be construed and enforced in accordance with, and shall be governed by
                        | the
                        | jurisdiction of UK. Any suit, legal action or proceeding with respect to theseTerms and Conditions shall
                        | be
                        | exclusively brought in the competent courts of jurisdiction of UK.
                    h3 13. MODIFICATION
                    p
                        | You acknowledge and agree to the fact that the Company may update and/or adjust and/or amend these Terms
                        | and
                        | Conditions from time to time according to the needs of its activity and in its sole discretion, provided
                        | however that the accurate and current binding form shall be published and accessible to you on the SHP
                        | website.
                    h3 14. PAYMENT INFORMATION
                    p
                        | (i) Payment Flow and Delivery Policy: Upon paypal registration, you get immediate access to the SH
                        | platform
                        | and you start receiving the digital services instantly even though you might be on a free trial. At the
                        | end
                        | of the free trial period, the normal subscription fee kicks in for the coming period. The subscription
                        | fee
                        | for each period is taken at the beginning of the period.
                    p (ii) Refund/cancellation Policy:
                    p
                        | (a) You may cancel your subscription at any time by logging inside your paypal account and cancelling
                        | your
                        | profile. The various signal streams can also be cancelled from the "My streams" section inside the
                        | IQ Advisor Signals platform.
                    p
                        | (b) After the cancellation of a subscription, no further payment will be taken from your account for the
                        | related to the cancelled subscription services. You will keep access to your account and the relevant
                        | service until the end of the period you have subscribed to. You may also contact us at any point at
                        | support@iqadvisorsignals.com and request for the cancellation of your subscription.
                    p
                        | (c) There is no refund available for any of the services since there is a free trial period for each
                        | service.
                    p
                        | (iii) Privacy Policy: We do not store credit card details nor do we share financial details with any 3rd
                        | parties.
            include includes/footer-litle.pug
