doctype html
html
    head
        include includes/head.pug
    body
        .cabinet-wrap
            include includes/top-nav.pug
            section.article-page.tutorial
                .wrap
                    h2
                        | How have I earned in 26 years a car that worth 5.37 million rubles in just 4 months?
                    h5 [Detailed instructions]
                    p
                        | Do you have enough money? Do you have everything what you dreamed of? You are satisfied with your life?
                        | If - yes, then do not waste time and just close this page.
                    p
                        | To the rest I want to tell about how you can no longer work from 9 am to 6 pm and start making 25'000 -
                        | 30'000 rubles per day, literally for 2 days not leaving the house.
                    p
                        | I did it, and you, if you want, will be able to do it too! I will not lose anything, but for someone
                        | this will help to change the whole life radically and finally gain financial freedom.
                    p
                        | A little bit about yourself. My name is Elena Kuznetsova, I'm 26 years old, I'm from St. Petersburg, the
                        | most ordinary girl from not a wealthy family. I was a late child to my parents. My mother worked as a
                        | nurse in a city polyclinic, and my father was the driver of a garbage truck.
                    p
                        | All childhood was spent in an constant effort to buy cheaper food, clothing and, if we are lucky, to put
                        | aside some money for a vacation. Once every 3-4 years we even had a rest in the summer by the Black Sea.
                    p
                        | I graduated from high school. A study at the institute was not possible, it was necessary to earn money
                        | for myself and my parents (who had already been retired).
                    p
                        | And I have started working as a shop assistant with a salary of about 27 000 rubles per month. It was
                        | 2008, and it was a great salary for St. Petersburg.
                    p
                        | Money was enought, but I had a dream - a new car BMW X6. It is very expensive, I know that I have to
                        | save for a long time. But I do not bother - it's a dream! Dreams are not so simply enforced. So I
                        | thought then http://newiqoption.com.
                    p
                        | And after 7 years of the crisis broke out. It was December 2014 the dollar "flew in space," people were
                        | panicking. I had nothing much to lose, and I calmly continued to work http://newiqoption.com.
                    p
                        | Our children's clothing store was able to survive for another 3 months, and in March 2015 he went
                        | bankrupt, and I "landed on the street." Without a job, without a livelihood, burden to my retired
                        | parents.
                    p
                        | May holidays in 2015 passed sadly in our family. For the second month in a row, I frantically dug the
                        | Internet to find at least some opportunities.
                    p
                        | After almost 2 weeks of search, almost completely despair, I came across a story of some guy about how
                        | he managed to earn 520 000 rubles in 1 month in the internet while sitting at the computer, without
                        | leaving the house and not getting up from his chair.
                    p
                        | t was a story about how he traded on the binary options through the Binomo website.
                    p
                        | I was like an electric shock. Here's my chance, which happens once in a lifetime!
                    p
                        | First I almost did not understand anything, but began to understand, to dig various websites, forums and
                        | blogs, read a lot of information on this topic, and as a result in all figured out. What a joy it was! I
                        | still remember that moment when everything suddenly realized http://newiqoption.com.
                    p
                        | Slightly interrupting myself, because I want you also to understand, what I'll say next. Short and sweet
                        | talk about binary options and you will not have to search for the information about what it is on
                        | hundreds of different sites, as I did once. I save you time.
                    p
                        | Binary Options is a brand new, very simple, fast and extremely profitable way to make money in the
                        | financial markets. As you may know, in these markets different currency are constantly bought and sold:
                        | dollars, euros, pounds, etc. 24 hours a day, 7 days a week, continuously, without weekends and holidays.
                    p
                        | Your objective is to open free account for the purchase/sale of foreign currency on the site of the
                        | options (it's called a broker's site). After that, you just need to replenish this account, assign the
                        | transaction amount and determine correct where the exchange rate, such as the dollar, will go next
                        | minutes or hours.
                    p
                        | There are only two options: above or below. You choose by yourself the time of the transaction for which
                        | you want to make a bet - from 1 minute to 3 hours. If it's determined correctly, you earn almost 2 times
                        | more than the amount of the transaction. If the you were wrong, the transaction amount deducts from your
                        | account.
                    p
                        | This will be your job, and you will be called a "trader". So you can work on any day, at any time and
                        | from anywhere. You will need only a computer with Internet access. You see, everything is very simple,
                        | even a child cope!
                    p
                        | When all was figured out, I was eager, and I decided to try.
                    p
                        | I've registered for free by opening an account on the website of the broker - Binomo. As it turned out -
                        | this is the best Russian-speaking broker.
                    p
                        | After registration on my account were 10 000 virtual money for testing and training - this broker gives
                        | them also free for training.
                    p
                        | First I tried my hand at these test money, all turned out, literally in the first hour I have earned
                        | another 11,000 net, though it was only the numbers, but I would like real money. But you can earn them
                        | only by replenishing your account. There are many ways to do this: any Visa or MasterCard card, Kiwi,
                        | Webmoney, Yandex Money.
                    p
                        | On the same day evening I pay real money into my account. I had SberBank Visa card from previous work
                        | and I filled up an account with it. In the beggining I paid little, you can begin with only 500 rubles
                        | with this broker, and this is a huge advantage! I could afford such replenishment.
                    p
                        | An hour after the start with real money there was already $ 26 in my account !!! That was incredible!
                        | The heart jumped out of my chest, I could hardly breathe because of excitement! All turned out !!!
                    p
                        | For the next night I could not sleep, and in the morning there was already $ 197 in the account!!! One
                        | hundred ninety-seven dollars !!! From 350 rubles laid to the account in the evening !!! I could not
                        | believe it !!! I wanted to go on forever, but sleep overcame and I hung up, barely reaching the bed http://newiqoption.com.
                    p
                        | As soon as I opened my eyes in the afternoon, I again looked into the account, and again saw the $ 197
                        | bill in it. So it was not dream !!!
                    p
                        | All next day, I did not depart from the computer, and by midnight on the account was already $ 773 !!! I
                        | remember by heart the first digits of my success!
                    p
                        | So I earned $ 773 minus $ 197, which was on my account this morning, got $ 576 for 12 hours! Then it was
                        | more than 28 000 rubles! For half a day !!! So many I have never earned in my life!
                    p
                        | Before going to bed I requested the payment of 27 thousand rubles to my Visa card from Sberbank. Still
                        | not quite believing in success, I fell asleep.
                    p
                        | I woke up in the morning by the sound of sms from my phone. Charging 27 thousand rubles to the card !!!
                        | 27 000 rubles has just arrived to my card !!!
                    p
                        | Yesterday there was less than 400 rubles. after I recharged phone account with 100 rubles, and have
                        | replenished my Binomo account for 350 rubles. And just arrived 27,000 rubles !!! The method works !!!
                    p
                        | There was no such a really good morning for very, very, very long time!
                    p
                        | Over the next week I have earned more than 200 000, before the end of June - more than 850 thousand
                        | rubles by the end of the summer - almost 2.8 million rubles, and in September, I bought my dream, which
                        | I think I have forgotten! The new BMW X6 for 5.37 million rubles !!!
                    p
                        | Yes, I took a little more than 1 000 000 loan, but with my present earnings - it is not a problem. I
                        | repaid it after 2 months, in November, not straining at all.
                    p
                        | And here, by the way, we are after another shopping. Admire.
                    .tutorial-img-block
                        img(src='', alt='')
                    p
                        | I am sitting now writing this trying to remember. I am trying to figure out how all this happened? But
                        | it is very easy! I just believed in myself! First, believed that I will find my chance, then I believed,
                        | that I will also be like that guy whose post I have read! I believed in real!
                    p
                        | You just have to believe that you are sure to succeed! This is very important, without it there will be
                        | nothing in life at all! Never! If you would not believe in yourself, you will gradually get used to the
                        | idea that all good things have already been in your life. And it materializes, it will be so http://newiqoption.com.
                    p
                        | If you are behind a veil of despair, distrust everything and seeming hopelessness you will lose the
                        | ability to see a chance to change your life, you will never change it!
                    p
                        | Try to see that chance in everything: in all the events around you, people who for some reason are found
                        | on your lifepath, in stories that somehow gets into your eyes, and you read, everything! Always use
                        | these chances, because they are yours! And you are all sure to succeed !!!
                    p
                        | For some reason I have always strongly believed I will buy the car of my dreams, and I bought it! Not
                        | saving up for it, but simply bought with the revenue that has not dried up, but only constantly growing
                        | to this day. And at the same time, I do not longer depend on any superiors, I do not need to go to work
                        | by 9:00 with one day off per week standing on feet up to 18:00, as it was before.
                    p
                        | Now I earn in a day more than I have earned in a month! It's an incredible feeling of freedom !!!
                    p
                        | Is it a miracle? I don't know, maybe, but - ordinary. Just read an article, just believed in myself and
                        | started doing! And everything turned out!
                    p
                        | By the way, on this platform - Binomo more than 1 million people already earn, most of them published a
                        | video of their success.
                    p
                        | It's time to reveal the biggest secret to those who have read this far - to give you detailed
                        | instructions for your next steps.
                    p
                        | Especially for those who are willing to do something to stop constantly thinking about money and start
                        | to really live, I will write in detail, with pictures exactly what you need to do right now. Step by
                        | step.
                    p
                        | First, read everything until the end, and then go back to point 1 and start doing!
                    p
                        | 1. You need to create an account from broker. It is absolutely FREE. To do this, go to Binomo site, by
                        | clicking the mouse here . The site will open in a new window, and you can switch tabs and read the text
                        | not to forget what to do. Here's what you'll see:
                    .tutorial-img-block
                        img(src='http://newiqoption.com/img/tutorial/1.jpg', alt='')
                    p
                        | Fill the registration form with your e-mail and your future password (create it by yourself and write
                        | down somewhere). Then click on the green button with the white text "start to earn".
                        | A message will appear: Click on the link in the email sent to the address. Go to your e-mail, find
                        | letter from Binomo and click to confirm your registration.
                    p
                        | 3.Congratulations, you have been registered! Next, you will open a demo or real account. If you believe
                        | in yourself, then immediately open a real one and start earning real money. If you are still afraid open
                        | demo account.
                    .tutorial-img-block
                        img(src='http://newiqoption.com/img/tutorial/2.jpg', alt='')
                    p
                        | 4. Then in the top menu, click on the Help tab and select How to trade. They tell you how to trade on
                        | the Binomo platform step by step.
                    .tutorial-img-block
                        img(src='http://newiqoption.com/img/tutorial/3.jpg', alt='')
                    p
                        | Then click Start trading. Platform with a virtual $ 1000 account will appear.
                        | You can train by using them. Also FREE! Do not worry about the virtual money you don't have anything to
                        | pay.
                    p
                        | 5. All further actions to make are as easy as counting to four:
                    .tutorial-img-block
                        img(src='http://newiqoption.com/img/tutorial/4.jpg', alt='')
                    p
                        | I Select a currency pair, i.e., for which currency exchange rate you will make a prediction. For
                        | example, to choose a pair USD EUR (how much Euro is 1 dollar), as in the image, click on the USD EUR.
                    p
                        | II Assign amount to the transaction. The minimum transaction amount - $ 1.
                    p
                        | III Select the time of the transaction. This is the time after which the rate of currencies chosen in I
                        | will be compared with your forecast. Minimum transaction time - 1 minute. I usually choose either 1 or 5
                        | minutes.
                    p
                        | IV Make a forecast. Click on either above or belowyf cdjq. Immediately after clicking the deal opens.
                    p
                        | Once the deal is opened, it is necessary to wait for the time that you have chosen as the "time of the
                        | transaction." If your prediction comes true, you will see a closed deal and a larger amount in the
                        | account:
                    .tutorial-img-block
                        img(src='', alt='')
                    p
                        | So, for 1 minute, you have just turned 1000 rubles into 1850. I told you that it's very easy! But the
                        | real money you will begin earning only after replenishing your account. This can be done with any Visa
                        | or Mastercard card, or via Kiwi, Webmoney, Yandex Money. The minimum recharge amount is 500 rubles.
                        | Click on the yellow button with the "Deposit" white lettering:
                    .tutorial-img-block
                        img(src='http://newiqoption.com/img/tutorial/5.jpg', alt='')
                    p
                        | A window will appear with a choice of ways to replenish the account:
                    .tutorial-img-block
                        img(src='http://newiqoption.com/img/tutorial/6.jpg', alt='')
                    p
                        | And now the fun! Now there is offer in Binomo broker - on your account will be credited with 25% more if
                        | you use the coupon srs0J5mTe1js then get another 30%. Total 55 +%.
                        | Just imagine, it's as if someone added bonus to you salary, for example, the same 2000 rubles, and on
                        | the hands you get 3100 rubles! Not bad, huh ??? I would say, great! There was no, when I started. The
                        | offer is limited, so hurry! Replenishing the account is very simple. That's the whole guide! After the
                        | completion of the request, go to paragraph 5 and start earning real money!
                    p
                        | Stop wasting time, take it and do it! And after a couple of months you will have a rest somewhere on the
                        | warm white sandy beaches of the Maldives in the Indian Ocean. And live in a separate bungalow five-star
                        | hotel with a personal chef. Or drive a car of your most daring dreams. Or live in the apartment or house
                        | of your dreams …
                    p
                        | And you will no longer have debts and meager survival from one payment to another!
                    p
                        | P.S. I have just explained how each of you in just 2-3 days can gain complete financial freedom, no
                        | longer go to work at all.
                    p
                        | But the paradox is that many of people do not even try it! Probably, not everyone needs a real financial
                        | independence.
                    p
                        | I needed it, and I really wanted to live for real, instead of working for at least a third of life only
                        | in order to be able to live out remaining two-thirds.
                    p
                        | I used my chance, and I have all turned out! And this is my earnings over the past week:
                    .tutorial-img-block
                        img(src='', alt='')
                    p
                        | Do you have turned out so well? I'm sure it will turn out! But you will never know about it unless you
                        | try it for yourself http://newiqoption.com.
            include includes/footer-litle.pug